/* Styles for the loading animation */
.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
}

/* Card container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}

/* Card styles */
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(33.33% - 40px);
    max-width: calc(300px - 40px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card .description {
    font-size: 1rem;
    color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}



/* Mobile adjustments */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 90%;
        flex: 1 1 90%;
    }

    .card-logo {
        max-width: 50%; /* Adjust logo size for mobile */
        height: auto;
    }
}

@media (max-width: 480px) {
    .card-logo {
        display: none; /* Hide logo on very small screens */
    }

    .card .description {
        font-size: 0.9rem;
        max-height: 3rem; /* Limit description to 2 lines */
        overflow: hidden;
    }
}
